<% provide(:title,"Help") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%></title>
</head>
<body>
<h1>Namrata Soni#help</h1>
<h1>Namrata Soni#help</h1>
<p>Find me in app/views/static_page/help1.html.erb</p>
<a href="http://www.railstutorials.org/book">Book</a>
</body>
</html>
