<% provide(:title ,"Home") %>
<!DOCTYPE html>
<html>
  <head>
   <title><%= yield(:title) %></title>
  </head>
  <div class="center jumbotrom">

<h1>Welcome to Sample application</h1>
<h2>This is home page</h2>
<p>
<a href="http://www.tutorialspoint.com/"><em>www.tutorialspoint.com</em></a>
</p>
<b>Click it</b>

<%= link_to "Sign up now", "#",class:"btn btn-lg btn-primary" %>

<div>
<%= link_to image_tag("rails.png",alt:"Rails logo"),'http://rubyonrails.org/' %> 
</html>